    /* modo oscuro */
body.dark-mode{
  background:#020617;
  color:white;
}

/* modo claro */
body.light-mode{
  background:#f8f9fa;
  color:#1a1a1a;
}

/* navbar */
body.dark-mode .navbar{
  background:#020617;
}

body.light-mode .navbar{
  background:white;
}

/* footer */
body.dark-mode footer{
  background:#020617;
}

body.light-mode footer{
  background:#ffffff;
  border-top:1px solid #ddd;
}
body.dark-mode .scanlines{
  opacity:0.6;
}

body.light-mode .scanlines{
  opacity:0.2;
}
html{
  scroll-behavior: smooth;
}
body{
  padding-top:80px;
}